* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 32px;
    background-color: #1278F1;
    color: #FFFFFF;
    font-family: 'Gilroy';
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
}

button {
    font-family: 'Gilroy';
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 23px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.title-text {
    font-family: 'Gilroy-bold';
    font-size: 28px;
}

p {
    margin-bottom: 7px;
    font-size: 14px;
}

/* Первый блок */

.one-block {
    background-color: #1278F1;

    /* фон волна */
    background-image: url('../images/wave.svg');
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 190px;
    background-repeat: no-repeat;
    
}

.nav-panel {
    display: flex;
    font-size: 14px;
    margin-right: 166px;
    justify-content: space-between;
}


.logo {
    margin-left: 169px;
}

.nav-list>ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
}

.nav-list>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.one-block-content {
    margin-left: 166px;
    margin-top: 86px;
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: 'Gilroy-bold';
    font-size: 55px;

}

.subtitle {
    margin-top: 40px;
    margin-bottom: 30px;
}

.img-browes {
    margin-left: 270px;
}

.conect-button {
    font-family: 'Gilroy-bold';
    border-width: 2px;
}

/* Второй блок */

.two-block {
    background-color: #0A6ADB;
    display: flex;
    flex-direction: row;
    padding-bottom: 43px;
}

.two-block-img{
    display: flex;
    flex-direction: column;
    margin-left: 169px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 25px;
    align-items:center;
    width: 350px;
}

h3 p {
    font-family: 'Gilroy-bold';
    text-align: center;
    font-size: 16px;
    margin-bottom: 1px;
}

.subtext-block2 {
    margin-top: 10px;
    text-align: center;
}

.subtext-block2 p {
    margin-bottom: 1px;
    font-size: 15px;
}


.img-time, .img-edit, .img-price {
    width: 60px;
    height: 55px;
    margin-bottom: 5px;
}

/* Третий блок */

.three-block {
    display: flex;
    flex-direction: row;
    background-color: #0A6ADB;
    padding-bottom: 40px;
}

.imgconsole {
    margin-top: 80px;
    margin-left: 164px;
}

.subtext-block3 {
    font-size: 14px;
}

.subtext-block3 p{
    padding-bottom: 5px;
}

h2 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Gilroy-bold';
}

.insert-text-block {
    margin-left: 66px;
    margin-top: 73px;
}

.botton-popr {
    margin-top: 30px;
}

/* Четвертый блок */

.block-four {
    display: flex;
    flex-direction: row;

    padding-top: 42px;
    padding-bottom: 72px;
    padding-left: 164px;

    background-color: #0A6ADB;
}

.subtext-block4 {
    font-size: 14px;
}

.subtext-block4 p{
    padding-bottom: 5px;
}

.img-browes-phone {
    margin-left: 50px;

    position: relative;
    display: inline-block;
}

.phone {
    position: absolute;
    left: 370px;
    bottom: -30px;
}

.link-more-block {
    display: flex;
    flex-direction: row;
}

.link-more-text {
    margin-top: 15px;   
}

.link-more-element {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 12px;
}

/* Блок пять */

.block-five {
    background-color: #1278F1;

    padding-top: 85px;
    padding-bottom: 40px;
    padding-left: 261px;
    padding-right: 259px;
}

.founders-comment {
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    position: relative;
}

.img-f {
    position: absolute;
    left: 650px;
    top: -50px;

    border-style: solid;
    border-radius: 200px;
}

.inner-text {
    padding-top: 96px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 49px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-text h2 {
    margin: 0px;
    margin-bottom: 18px;
}

.subtext-block5 {
    text-align: center;
}

.subtext-block5 p{
    font-size: 15px;
}

/* Шрифты */
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-bold';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}